MSDemo/.idea/.idea.MSDemo/.idea/encodings.xml
MSDemo/.idea/.idea.MSDemo/.idea/indexLayout.xml
MSDemo/.idea/.idea.MSDemo/.idea/projectSettingsUpdater.xml
MSDemo/.idea/.idea.MSDemo/.idea/workspace.xml
MSDemo/.vs/MSDemo/config/applicationhost.config
MSDemo/.vs/MSDemo/DesignTimeBuild/.dtbcache.v2
MSDemo/.vs/MSDemo/FileContentIndex/18bdf36a-7ebc-4eb6-8737-fc7e53066d87.vsidx
MSDemo/.vs/MSDemo/FileContentIndex/471d3909-d113-434e-9d2f-54e54fb09770.vsidx
MSDemo/.vs/MSDemo/FileContentIndex/6d92ce49-07c1-41e4-8c93-1eedc1ac5a2d.vsidx
MSDemo/.vs/MSDemo/FileContentIndex/7e628ce7-f4f0-4827-9338-b2cf18cd6886.vsidx
MSDemo/.vs/MSDemo/FileContentIndex/read.lock
MSDemo/.vs/MSDemo/v16/.suo
MSDemo/.vs/MSDemo/v16/TestStore/0/000.testlog
MSDemo/.vs/MSDemo/v16/TestStore/0/testlog.manifest
MSDemo/.vs/MSDemo/v17/.futdcache.v2
MSDemo/.vs/MSDemo/v17/.suo
MSDemo/.vs/ProjectEvaluation/msdemo.metadata.v5
MSDemo/.vs/ProjectEvaluation/msdemo.projects.v5
